<div class="row">
    <div class="col-md-6 offset-3 alert-danger text-center">
        <h2>Access Denied!</h2>
        <p>You can't access this page click button below to redirect to home page</p>
        <hr />
        <p>
            <a class="btn btn-outline-info" asp-controller="Movies" asp-action="Index">Home Page</a>
        </p>
    </div>
</div>