<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Your account created successfully</h2>
        <p>You can now log in to your profile</p>
        <hr />
        <p>Thank You!</p>
    </div>
</div>